body{
  margin:0;
}

section{
  margin:20px;
}

section h3{
  text-align:center;
}

header{
  background-color:black;
  margin-bottom:40px;
}

header h1{
  font-size:52px;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  font-family: Montserrat;
  display:flex;
  list-style: none;
  padding-left:0;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  margin: 0 20px 0 0;
}

@media all and (min-width:600px){
  header{
      display:flex;
      justify-content: space-between;

  }
  header h1{
      font-size: 48px;
      margin: 14px 0;
      padding:0;
  }
  header nav{
      margin-top: 8px;
  }
}